<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">NG USERS</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Inicio </a>
      <a class="nav-item nav-link" href="/registro-usuario"
        >Registrar Usuario</a
      >
      <a class="nav-item nav-link" href="/ver-usuarios">Mostrar Usuarios</a>
    </div>
  </div>
</nav>
<div class="container" style="margin-top: 100px">
  <div class="jumbotron">
    <h1 class="display-4">Zombie ipsum</h1>
    <p class="lead">
      Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De
      carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel
      maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi
      mindless mortuis soulless creaturas, imo evil stalking monstra adventus
      resi dentevil vultus comedat cerebella viventium. Qui animated corpse.
    </p>
    <hr class="my-4" />
    <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/" role="button" disabled
        >Learn more</a
      >
    </p>
  </div>

  <div></div>
</div>
